@page "/quotes/create"
@attribute [Authorize(Roles = "Admin,Editor")]
@rendermode InteractiveServer

<PageTitle>Create Quote</PageTitle>

<h3>Create quote</h3>

<hr />

<EditForm Model="Quote" OnValidSubmit="OnValidSubmitAsync" FormName="create" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" />

    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <InputText id="author" class="form-control" @bind-Value="Quote.Author" />
        <ValidationMessage For="() => Quote.Author" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="text" class="form-label">Quote</label>
        <InputText id="text" class="form-control" @bind-Value="Quote.Text" />
        <ValidationMessage For="() => Quote.Text" class="text-danger" />
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <InputDate id="date" class="form-control" @bind-Value="Quote.Date" />
        <ValidationMessage For="() => Quote.Date" class="text-danger" />
    </div>

    <div class="mb-3">
        <InputCheckbox id="hidden" class="form-check-input" @bind-Value="Quote.Hidden" />
        <label for="hidden" class="form-check-label">Hide Quote for not logged in viewers</label>
        <ValidationMessage For="() => Quote.Hidden" class="text-danger" />
    </div>

    <hr />

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" href="/quotes">Back</a>
</EditForm>