@page "/quotes"
@rendermode InteractiveServer

<PageTitle>Quotes</PageTitle>

<div class="d-flex justify-content-between">
    <div>
        <a href="quotes/create" class="btn btn-primary">Add Quote</a>

        <label class="btn btn-secondary">
            Import Quotes From JSON
            <InputFile class="d-none" OnChange="LoadJsonFilesAsync" />
        </label>

        @if (ImportErrors.Count > 0) {
            <ul class="text-danger">
                @foreach (var error in ImportErrors) {
                    <li>@error</li>
                }
            </ul>
        }
    </div>

    <div>
        @foreach (var (name, score) in AuthorScores) {
            <span class="me-2">
                <strong>@name</strong>: @score
            </span>
        }
    </div>
</div>

<QuickGrid Class="table" Items="Quotes">
    <PropertyColumn Property="quote => quote.Author" Title="Author" Sortable="true" />
    <PropertyColumn Property="quote => quote.Text" Title="Quote" />
    <PropertyColumn Property="quote => quote.Date" Title="Date" Sortable="true" Format="dd.MM.yyyy" />

    <TemplateColumn Context="quote">
        <a href="@($"quotes/edit?id={quote.Id}")">Edit</a>
        <a href="@($"quotes/delete?id={quote.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>