@page "/quotes"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization
@using Thomsen.BrozWebsite.Repository

<PageTitle>Quotes</PageTitle>

<div class="d-flex justify-content-between">
    <div>
        <a href="quotes/create" class="btn btn-primary">Add Quote</a>

        @if (IsAdmin) {
            <label class="btn btn-secondary ms-2">
                Import Quotes From JSON
                <InputFile class="d-none" OnChange="ImportJsonFileAsync" />
            </label>

            @if (ImportJsonErrors.Count > 0) {
                <div class="text-danger">
                    @foreach (var error in ImportJsonErrors) {
                        <p>@error</p>
                    }
                </div>
            }
        }
    </div>

    <div class="selector">
        Items per page:
        <select @bind=PaginationState.ItemsPerPage>
            <option>10</option>
            <option>20</option>
            <option>50</option>
        </select>
    </div>
</div>

<div class="grid">
    <QuickGrid style="color: white" TGridItem="Quote" Class="table" ItemsProvider="LoadQuotesAsync" Pagination="PaginationState">
        <PropertyColumn Property="quote => quote.Author" Title="Author" Sortable="true">
            <ColumnOptions>
                <div>
                    <input type="search" @bind="AuthorFilter" @bind:event="oninput" autofocus />
                </div>
            </ColumnOptions>
        </PropertyColumn>

        <PropertyColumn Property="quote => quote.Text" Title="Quote">
            <ColumnOptions>
                <div>
                    <input type="search" @bind="TextFilter" @bind:event="oninput" autofocus />
                </div>
            </ColumnOptions>
        </PropertyColumn>

        <PropertyColumn Property="quote => quote.Date" Title="Date" Sortable="true" InitialSortDirection="SortDirection.Descending" Format="dd.MM.yyyy" />

        <TemplateColumn Context="quote">
            <a class="btn btn-outline-primary btn-sm" href="@($"quotes/edit?id={quote.Id}")">
                <i class="bi bi-pencil-fill" />
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="@($"quotes/delete?id={quote.Id}")">
                <i class="bi bi-trash-fill" />
            </a>
        </TemplateColumn>
    </QuickGrid>
</div>

<Paginator State="PaginationState" />