@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-0 text-white position-relative">
            <div class="topbar-halves d-flex">
                <img src="assets/topbar_left_bw.png" alt="Left" class="topbar-half w-50" />
                <img src="assets/topbar_right_fr.png" alt="Right" class="topbar-half w-50 " />
            </div>

            <img src="assets/topbar_logo.png" alt="Logo" class="topbar-logo position-absolute top-50 start-50 translate-middle" />

            <div class="position-absolute top-0 end-0 p-3">
                <AuthorizeView>
                    <Authorized>
                        <a class="btn btn-secondary  btn-sm" href="user">
                            <i class="bi bi-person-fill" aria-hidden="true"></i>
                            @context.User.Identity?.Name
                        </a>
                        <a class="btn btn-primary btn-sm" href="logout">
                            <i class="bi bi-box-arrow-in-right" aria-hidden="true"></i>
                            Logout
                        </a>
                    </Authorized>
                    <NotAuthorized>
                        <a class="btn btn-primary btn-sm" href="login">
                            <i class="bi bi-box-arrow-in-right" aria-hidden="true"></i>
                            Login with Google
                        </a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
