@page "/"

<PageTitle>Die BroZ</PageTitle>

<div class="container-fluid">

    <div class="card text-center" style="max-width: 300px">
        <div class="card-header">
            Die BroZ
        </div>
        <img class="card-img-bottom" src="assets/logo_hq.png">
        <div class="card-body">
            <p class="card-text">... weil auch im salzigsten Acker vielleicht irgendwo ein Blümchen erblüht.</p>
        </div>
    </div>

    <div class="card text-center" style="max-width: 300px"> 
        <div class="card-header">
            Teamspeak
        </div>
        <img class="card-img-bottom" src="https://ts3index.com/banner/s410_262829.png">
    </div>

</div>